<?xml version="1.0" ?>

<robot name="hexapod" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find hexapod_description)/urdf/links_joints.xacro" />
    <xacro:include filename="$(find hexapod_description)/urdf/robot_parameters.xacro" />
    <xacro:include filename="$(find hexapod_description)/urdf/camera.xacro" />

    <link name="base_link"/>

    <joint name="hexapod_attachment" type="fixed">
        <parent link="base_link"/>
        <child link="body"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <xacro:my_camera xyz="0 0.1 0" rpy="0 0 ${pi/2}"/>

    <m_link_mesh name="body"
                origin_rpy="0 0 0" origin_xyz="0 0 0"
                mass="0.97559947"
                ixx="3.1081800" ixy="-0.25460189" ixz="2.0318174"
                iyy="6.3787776" iyz="0.16417863"
                izz="5.3316425"
                mesh_file="package://hexapod_description/meshes/body.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 1 (rf) begin description -->

    <!-- Leg 1 (rf) coxa description -->

    <m_joint    name="${link_01_name}" 
                type="revolute" 
                axis_xyz="0 0 1"
                origin_rpy="0 0 0" origin_xyz="-0.040 -0.066 -0.0112" 
                parent="body" child="${link_01_name}" />

    <m_link_mesh name="${link_01_name}"
                origin_rpy="3.14 0 0" origin_xyz="-0.033 -0.007 0"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049"
                iyy="0.0081915737" iyz="-0.000019223094"
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/coxa_r.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 1 (rf) thigh description -->

    <m_joint    name="${link_02_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 3.14" origin_xyz="-0.025 0.0123 0.011" 
                parent="${link_01_name}" child="${link_02_name}" />

    <m_link_mesh name="${link_02_name}"
                origin_rpy="1.57 0 0" origin_xyz="0.020 -0.002 -0.007"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/thigh.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 1 (rf) tibia description -->

    <m_joint    name="${link_03_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.040 0 0" 
                parent="${link_02_name}" child="${link_03_name}" />

    <m_link_mesh name="${link_03_name}"
                origin_rpy="4.712 0 3.14" origin_xyz="-0.008 0.0197 0.023"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/tibia_r.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 2 (lf) begin description -->

    <!-- Leg 2 (lf) coxa description -->

    <m_joint    name="${link_04_name}" 
                type="revolute" 
                axis_xyz="0 0 1"
                origin_rpy="0 0 0" origin_xyz="0.040 -0.066 -0.0112" 
                parent="${link_00_name}" child="${link_04_name}" />

    <m_link_mesh name="${link_04_name}"
                origin_rpy="3.14 0 0" origin_xyz="0.033 -0.007 0"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/coxa_l.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 2 (lf) thigh description -->

    <m_joint    name="${link_05_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.025 0.0123 0.011" 
                parent="${link_04_name}" child="${link_05_name}" />

    <m_link_mesh name="${link_05_name}"
                origin_rpy="1.57 0 3.14" origin_xyz="0.020 0.002 -0.007"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/thigh.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 2 (lf) tibia description -->

    <m_joint    name="${link_06_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.040 0 0" 
                parent="${link_05_name}" child="${link_06_name}" />

    <m_link_mesh name="${link_06_name}"
                origin_rpy="4.712 0 0" origin_xyz="-0.008 -0.0197 0.023"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/tibia_l.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 3 (rm) begin description -->

    <!-- Leg 3 (rm) coxa description -->

    <m_joint    name="${link_07_name}" 
                type="revolute" 
                axis_xyz="0 0 1"
                origin_rpy="0 0 0" origin_xyz="-0.040 0.006 -0.0112" 
                parent="${link_00_name}" child="${link_07_name}" />

    <m_link_mesh name="${link_07_name}"
                origin_rpy="3.14 0 0" origin_xyz="-0.033 -0.007 0"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049"
                iyy="0.0081915737" iyz="-0.000019223094"
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/coxa_r.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 3 (rm) thigh description -->

    <m_joint    name="${link_08_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 3.14" origin_xyz="-0.025 0.0123 0.011" 
                parent="${link_07_name}" child="${link_08_name}" />

    <m_link_mesh name="${link_08_name}"
                origin_rpy="1.57 0 0" origin_xyz="0.020 -0.002 -0.007"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/thigh.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 3 (rm) tibia description -->

    <m_joint    name="${link_09_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.040 0 0" 
                parent="${link_08_name}" child="${link_09_name}" />

    <m_link_mesh name="${link_09_name}"
                origin_rpy="4.712 0 3.14" origin_xyz="-0.008 0.0197 0.023"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/tibia_r.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 4 (lm) begin description -->

    <!-- Leg 4 (lm) coxa description -->

    <m_joint    name="${link_10_name}" 
                type="revolute" 
                axis_xyz="0 0 1"
                origin_rpy="0 0 0" origin_xyz="0.040 0.006 -0.0112" 
                parent="${link_00_name}" child="${link_10_name}" />
                
    <m_link_mesh name="${link_10_name}"
                origin_rpy="3.14 0 0" origin_xyz="0.033 -0.007 0"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/coxa_l.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 4 (lm) thigh description -->

    <m_joint    name="${link_11_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.025 0.0123 0.011" 
                parent="${link_10_name}" child="${link_11_name}" />

    <m_link_mesh name="${link_11_name}"
                origin_rpy="1.57 0 3.14" origin_xyz="0.020 0.002 -0.007"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/thigh.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 4 (lm) tibia description -->

    <m_joint    name="${link_12_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.040 0 0" 
                parent="${link_11_name}" child="${link_12_name}" />

    <m_link_mesh name="${link_12_name}"
                origin_rpy="4.712 0 0" origin_xyz="-0.008 -0.0197 0.023"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/tibia_l.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 5 (rr) begin description -->

    <!-- Leg 5 (rr) coxa description -->

    <m_joint    name="${link_13_name}" 
                type="revolute" 
                axis_xyz="0 0 1"
                origin_rpy="0 0 0" origin_xyz="-0.040 0.078 -0.0112" 
                parent="${link_00_name}" child="${link_13_name}" />

    <m_link_mesh name="${link_13_name}"
                origin_rpy="3.14 0 0" origin_xyz="-0.033 -0.007 0"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049"
                iyy="0.0081915737" iyz="-0.000019223094"
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/coxa_r.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 5 (rr) thigh description -->

    <m_joint    name="${link_14_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 3.14" origin_xyz="-0.025 0.0123 0.011" 
                parent="${link_13_name}" child="${link_14_name}" />

    <m_link_mesh name="${link_14_name}"
                origin_rpy="1.57 0 0" origin_xyz="0.020 -0.002 -0.007"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/thigh.stl"
                mesh_scale="0.001 0.001 0.001" />
    
    <!-- Leg 5 (rr) tibia description -->

    <m_joint    name="${link_15_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.040 0 0" 
                parent="${link_14_name}" child="${link_15_name}" />

    <m_link_mesh name="${link_15_name}"
                origin_rpy="4.712 0 3.14" origin_xyz="-0.008 0.0197 0.023"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/tibia_r.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 6 (lr) begin description -->

    <!-- Leg 6 (lr) coxa description -->

    <m_joint    name="${link_16_name}" 
                type="revolute"
                axis_xyz="0 0 1"
                origin_rpy="0 0 0" origin_xyz="0.040 0.078 -0.0112" 
                parent="${link_00_name}" child="${link_16_name}" />
                
    <m_link_mesh name="${link_16_name}"
                origin_rpy="3.14 0 0" origin_xyz="0.033 -0.007 0"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/coxa_l.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 6 (lr) thigh description -->

    <m_joint    name="${link_17_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.025 0.0123 0.011" 
                parent="${link_16_name}" child="${link_17_name}" />

    <m_link_mesh name="${link_17_name}"
                origin_rpy="1.57 0 3.14" origin_xyz="0.020 0.002 -0.007"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/thigh.stl"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 6 (lr) tibia description -->

    <m_joint    name="${link_18_name}" 
                type="revolute" 
                axis_xyz="0 1 0"
                origin_rpy="0 0 0" origin_xyz="0.040 0 0" 
                parent="${link_17_name}" child="${link_18_name}" />

    <m_link_mesh name="${link_18_name}"
                origin_rpy="4.712 0 0" origin_xyz="-0.008 -0.0197 0.023"
                mass="0.024357719"
                ixx="0.0051411124" ixy="-0.00057530255" ixz="-0.000024729049" 
                iyy="0.0081915737" iyz="-0.000019223094" 
                izz="0.0011379812"
                mesh_file="package://hexapod_description/meshes/tibia_l.stl"
                mesh_scale="0.001 0.001 0.001" />

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>

</robot>
