<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="link_00_name" value="body" />

    <xacro:property name="link_01_name" value="c1_rf" />
    <xacro:property name="link_02_name" value="thigh_rf" />
    <xacro:property name="link_03_name" value="tibia_rf" />

    <xacro:property name="link_04_name" value="c1_lf" />
    <xacro:property name="link_05_name" value="thigh_lf" />
    <xacro:property name="link_06_name" value="tibia_lf" />

    <xacro:property name="link_07_name" value="c1_rm" />
    <xacro:property name="link_08_name" value="thigh_rm" />
    <xacro:property name="link_09_name" value="tibia_rm" />

    <xacro:property name="link_10_name" value="c1_lm" />
    <xacro:property name="link_11_name" value="thigh_lm" />
    <xacro:property name="link_12_name" value="tibia_lm" />

    <xacro:property name="link_13_name" value="c1_rr" />
    <xacro:property name="link_14_name" value="thigh_rr" />
    <xacro:property name="link_15_name" value="tibia_rr" />

    <xacro:property name="link_16_name" value="c1_lr" />
    <xacro:property name="link_17_name" value="thigh_lr" />
    <xacro:property name="link_18_name" value="tibia_lr" />

    <!-- Attachments params -->
    
    <xacro:property name="body_legs_f_dy" value="0.066" />
    <xacro:property name="body_legs_m_dy" value="0.006" />
    <xacro:property name="body_legs_r_dy" value="0.078" />
    <xacro:property name="body_legs_dx" value="0.04" />
    <xacro:property name="body_legs_dz" value="0.0203" />

    <xacro:property name="coxa_dx" value="0.033" />
    <xacro:property name="coxa_dy" value="0.007" />
    <xacro:property name="coxa_dz" value="0.0315" />

    <xacro:property name="coxa_thigh_dx" value="0.008" />
    <xacro:property name="coxa_thigh_dy" value="0.0123" />
    <xacro:property name="coxa_thigh_dz" value="0.011" />

    <xacro:property name="thigh_dx" value="0.02" />
    <xacro:property name="thigh_dy" value="0.007" />
    <xacro:property name="thigh_dz" value="0.032" />

    <xacro:property name="tibia_dx" value="0.008" />
    <xacro:property name="tibia_dy" value="0.023" />
    <xacro:property name="tibia_dz" value="0.0123" />
</robot>