<?xml version="1.0" ?>

<robot name="hexapod" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find hexapod_description)/urdf/links_joints.xacro" />
    <xacro:include filename="$(find hexapod_description)/urdf/robot_parameters.xacro" />
    <xacro:include filename="$(find hexapod_description)/urdf/legs.xacro" />
    <xacro:include filename="$(find hexapod_description)/urdf/camera.xacro" />

    <link name="base_link"/>

    <joint name="hexapod_attachment" type="fixed">
        <parent link="base_link"/>
        <child link="body"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <xacro:my_camera/>
    <joint name="camera_joint" type="fixed">
      <axis xyz="0 0 0" />
      <origin xyz="0.1 0 0" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="camera_link"/>
    </joint>

    <simple_mesh_link name="body"
                origin_rpy="0 0 0" 
                origin_xyz="0 0 0"
                com_xyz="${body_com_x} ${body_com_y} ${body_com_z}"
                mass="0.1"
                ixx="${0.140413 / i_div}" ixy="${0 / i_div}" ixz="${0.000026 / i_div}"
                iyy="${0.378107 / i_div}" iyz="${0 / i_div}"
                izz=" ${0.512999 /i_div}"
                mesh_file="package://hexapod_description/meshes/body"
                mesh_scale="0.001 0.001 0.001" />

    <!-- Leg 1 (rf) description -->
    <leg_r    body_leg_dx="${body_legs_f_dx}"
                body_link_name="${link_00_name}"
                coxa_link_name="${link_01_name}"
                thigh_link_name="${link_02_name}"
                tibia_link_name="${link_03_name}" />

    <!-- Leg 2 (lf) description -->
    <leg_l    body_leg_dx="${body_legs_f_dx}"
                body_link_name="${link_00_name}"
                coxa_link_name="${link_04_name}"
                thigh_link_name="${link_05_name}"
                tibia_link_name="${link_06_name}" />

    <!-- Leg 3 (rm) description -->
    <leg_r    body_leg_dx="${body_legs_m_dx}"
                body_link_name="${link_00_name}"
                coxa_link_name="${link_07_name}"
                thigh_link_name="${link_08_name}"
                tibia_link_name="${link_09_name}" />
 
    <!-- Leg 4 (lm) description -->
    <leg_l    body_leg_dx="${body_legs_m_dx}"
                body_link_name="${link_00_name}"
                coxa_link_name="${link_10_name}"
                thigh_link_name="${link_11_name}"
                tibia_link_name="${link_12_name}" />

    <!-- Leg 5 (rr) description -->
    <leg_r    body_leg_dx="${body_legs_r_dx}"
                body_link_name="${link_00_name}"
                coxa_link_name="${link_13_name}"
                thigh_link_name="${link_14_name}"
                tibia_link_name="${link_15_name}" />
 
    <!-- Leg 6 (lr) description -->
    <leg_l    body_leg_dx="${body_legs_r_dx}"
                body_link_name="${link_00_name}"
                coxa_link_name="${link_16_name}"
                thigh_link_name="${link_17_name}"
                tibia_link_name="${link_18_name}" />
    
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        </plugin>

        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>50.0</updateRate>
            <bodyName>base_link</bodyName>
            <topicName>/hexapod/odom</topicName>
            <gaussianNoise>0.01</gaussianNoise>
            <frameName>world</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>

    </gazebo>

</robot>
