<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="simple_joint" params="name type axis_xyz origin_rpy origin_xyz parent child">
        <joint name="j_${name}" type="${type}">
            <axis xyz="${axis_xyz}" />
            <limit effort="15" lower="-${pi/2}" upper="${pi/2}" velocity="5"/>
            <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
            <parent link="${parent}" />
            <child link="${child}" />
        </joint>
        <transmission name="t_${name}">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j_${name}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="m_${name}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:macro 
        name="simple_mesh_link" 
        params="name origin_rpy origin_xyz com_xyz mesh_file mesh_scale mass ixx ixy ixz iyy iyz izz">

        <link name="${name}">
            <inertial>
                <mass value="${mass}" />
                <origin rpy="${origin_rpy}" xyz="${com_xyz}" />
                <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
            </inertial>
            <collision>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
                <geometry>
                    <mesh filename="${mesh_file}_coll.stl" scale="${mesh_scale}" />
                </geometry>
            </collision>
            <visual>
                <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
                <geometry>
                    <mesh filename="${mesh_file}.stl" scale="${mesh_scale}" />
                </geometry>
                <material name="light_black" />
            </visual>
        </link>
    </xacro:macro>
</robot>