<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <!-- launch gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="worlds/empty.world"/>
        <arg name="paused" value="true"/>
    </include>

    <!-- spawn hexapid -->
    <include file="$(find hexapod_description)/launch/spawn.launch"/>

    <!-- spawn colored cube -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find hexapod_description)/urdf/target.urdf -urdf -model target -z 0.5 -x 0.5 -y 0.5" />

</launch>