<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <group ns="/hexapod">

        <!-- Robot model -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hexapod_description)/urdf/hexapod.xacro'" />

        <arg name="x" default="0" />
        <arg name="y" default="0" />
        <arg name="z" default="0.2" />

        <!-- Spawn the robot -->
        <node   name="hexapod_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="-urdf -param robot_description -model hexapod -x $(arg x) -y $(arg y) -z $(arg z)" />

        <!-- Load controllers -->
        <rosparam command="load" file="$(find hexapod_description)/config/joints.yaml" />

        <!-- Controllers -->
        <node   name="controller_spawner" pkg="controller_manager" type="spawner" 
                respawn="False" output="screen" ns="/hexapod"
                args="
                joint_state_controller
                j_c1_lf_position_controller 
                j_c1_rf_position_controller 
                j_c1_lm_position_controller 
                j_c1_rm_position_controller 
                j_c1_lr_position_controller 
                j_c1_rr_position_controller
                j_thigh_lf_position_controller 
                j_thigh_rf_position_controller 
                j_thigh_lm_position_controller 
                j_thigh_rm_position_controller 
                j_thigh_lr_position_controller 
                j_thigh_rr_position_controller 
                j_tibia_lf_position_controller 
                j_tibia_rf_position_controller 
                j_tibia_lm_position_controller 
                j_tibia_rm_position_controller 
                j_tibia_lr_position_controller 
                j_tibia_rr_position_controller">
        </node>

        <!-- convert joint states to TF transforms for rviz, etc -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="false" output="screen">
            <remap from="/joint_states" to="/hexapod/joint_states" />
        </node>

        <!-- rqt -->
        <!--<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />-->
        <!-- <node name="rqt_publisher" pkg="rqt_publisher" type="rqt_publisher" /> -->
    </group>
</launch>
