<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <!-- Robot model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hexapod_description)/urdf/hexapod.xacro'" />

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.2" />

    <!-- Spawn the robot -->
    <node name="spawn_hexapod" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -param robot_description -model hexapod -x $(arg x) -y $(arg y) -z $(arg z)" />
</launch>
